<div class="sidebar-section-title">
    <h3>Featured tags</h3>
</div>
<div class="sidebar-section-content">
    <ul class="primary-featured-tags">
        <li><a href="/tag/java" title="Java">Java</a></li>
        <ul class="secondary-featured-tags">
            <li><a href="/tag/java-ee" title="Java">Java EE</a></li>
            <li><a href="/tag/spring" title="Java">Spring</a></li>
        </ul>
        <li><a href="/tag/javascript" title="JavaScript">JavaScript</a></li>
        <li><a href="/tag/middleware" title="Middleware">Middleware</a></li>
        <ul class="secondary-featured-tags">
            <li><a href="/tag/oracle" title="Java">Oracle</a></li>
            <li><a href="/tag/ibm" title="Java">IBM</a></li>
        </ul>
        <li><a href="/tag/database" title="Database">Database</a></li>
        <ul class="secondary-featured-tags">
            <li><a href="/tag/sql" title="Java">SQL</a></li>
            <li><a href="/tag/nosql" title="Java">NoSQL</a></li>
        </ul>
        <li><a href="/tag/methodology" title="Methodology">Methodology</a></li>
        <ul class="secondary-featured-tags">
            <li><a href="/tag/agile" title="Java">Agile</a></li>
            <li><a href="/tag/scrum" title="Java">Scrum</a></li>
        </ul>
    </ul>
</div>
