<div class="sidebar-wrapper clearfix">
    <header class="sidebar-header sidebar-section clearfix">
    </header>
    <section class="featured-tags sidebar-section clearfix">
        {{> featured-tags}}
    </section>
    <section class="latest-posts sidebar-section clearfix">
        {{> latest-posts}}
    </section>
    <!--
    <section class="tag-cloud sidebar-section clearfix">
        {{> tag-cloud}}
    </section>
    -->
    <section class="twitter-feed sidebar-section clearfix">
        {{> twitter-feed}}
    </section>
</div>
