{{!< default}}

<div class="container">
    <div class="post-navigation">
        {{pagination}}
    </div>
    {{#foreach posts}}
{{! No indention to prevent handlebars indenting <pre> tag content}}
{{> post-content}}
    {{/foreach}}
    <div class="post-navigation">
        {{pagination}}
    </div>
</div>
