{{!< default}}

<div class="container clearfix">
    <div class="post-navigation">
        {{pagination}}
    </div>
{{! No indention to prevent handlebars indenting <pre> tag content}}
{{> loop}}
    <div class="post-navigation">
        {{pagination}}
    </div>
</div>
