{{!< default}}

<div class="container">
    <h1 class="page-title"><i class="fa fa-tag"></i> {{tag.name}}</i></h1>

    <ol class="post-list">
        {{> loop}}
    </ol>

    <div class="post-navigation">
        {{pagination}}
    </div>
</div>
